<main class="component-box">
  <header class="box-title">
    <img
      class="logo"
      src="./assets/img/pokeball-logo.png"
      alt="pokeball-logo"
    />
    <h1 class="box-title__title">Pokedex</h1>
  </header>

  <section class="list-container">
    <form class="search-bar">
      <img src="./assets/img/glass-search.png" class="search-bar__img" />
      <input class="search-bar__input" type="text" placeholder="Search" />
    </form>
    <div class="list">
      <app-pokemon-item
        class="list__item"
        *ngFor="let item of items; let i = index"
        [pokemon]="i"
      ></app-pokemon-item>
    </div>
  </section>
</main>
