@import '../../reset.scss';

.header{
    position: sticky;
    width: 100%;
    height: 10%;
    background-color: #DB4545;
    display: flex;
    justify-content: space-between;

    &__logo{
        object-fit: contain;
        background-color: #DB4545;
    }
    
    &__buttonGroup{
        display: flex;
        justify-content: center;
        
        &__link{
            border: 0.5px solid rgba(0, 0, 0, 0.17);
            text-decoration: none;
            color: white;
            font-family: 'Roboto Condensed';
            font-size: 18px;
            line-height: 35px;
            padding: 20px;
            &:hover{
            background-color: #B53E3E;
            }
        }
    }
}