<div class="shadow">
  <div class="container container--general">
    <div class="container container--photo">
      <div class="background-photo">
        <img
          class="sprite"
          src="{{ pokemonSelected.imagePath }}"
          alt="sprite"
        />
      </div>

      <h2>{{ pokemonSelected.name }}</h2>
      <div class="container container--row">
        <div class="type type--normal">Grass</div>
        <div class="type type--poison">Poison</div>
      </div>
    </div>

    <div class="container container--info">
      <h1>#{{ pokemonSelected.name }}</h1>
      <ul>
        <!-- Ability has to be iterated-->
        <li>Ability: {{ pokemonSelected.ability[0] }}</li>
        <li>Height: {{ pokemonSelected.height }}</li>
        <li>Weight: {{ pokemonSelected.weight }}</li>
      </ul>

      <table>
        <tr>
          <td>{{ pokemonSelected.stats[0].name }}</td>
          <td>{{ pokemonSelected.stats[0].base }}</td>
          <div class="progress-bar">
            <div class="progress-bar__skill--hp">
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
        <tr>
          <td>{{ pokemonSelected.stats[1].name }}</td>
          <td>{{ pokemonSelected.stats[1].base }}</td>
          <div class="progress-bar">
            <div class="progress-bar__skill--attack">
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
        <tr>
          <td>{{ pokemonSelected.stats[2].name }}</td>
          <td>{{ pokemonSelected.stats[2].base }}</td>
          <div class="progress-bar">
            <div class="progress-bar__skill--sattack">
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
        <tr>
          <td>{{ pokemonSelected.stats[3].name }}</td>
          <td>{{ pokemonSelected.stats[3].base }}</td>
          <div class="progress-bar">
            <div class="progress-bar__skill--sdeffense">
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
        <tr>
          <td>{{ pokemonSelected.stats[4].name }}</td>
          <td>{{ pokemonSelected.stats[4].base }}</td>
          <div class="progress-bar">
            <div class="progress-bar__skill--speed">
              <div class="d-hidden">Skill</div>
            </div>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>
