<div class="shadow">
  <div class="container">
    <div class="container-photo">
      <div class="background-photo">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/132.png"
          alt="sprite"
        />
      </div>

      <h2>Ditto</h2>
      <div class="container-row">
        <div class="btn">Grass</div>
        <div class="btn">Poison</div>
      </div>
    </div>

    <div class="container-info">
      <h1>#5 Ditto</h1>
      <ul>
        <li>Ability: overgrow</li>
        <li>Height: 1231231</li>
        <li>Weight: 233223</li>
      </ul>

      <ul>
        <li>hp</li>
        <li>Attack</li>
        <li>S.Attack</li>
        <li>S.Deffense</li>
        <li>Speed</li>
      </ul>
    </div>
  </div>
</div>
